body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    padding: 20px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.filmes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.filmes:hover {
    transform: translateY(-5px);
}

.filmes img {
    margin-top: 10px;
    border-radius: 8px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.filmes p {
    margin: 10px 0;
    font-size: 1.1rem;
    text-align: center;
}

.numbered-paragraph {
    margin: 10px 0;
    counter-increment: paragraph-counter;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}